<h1>The Bubble Cup!</h1>

<ul>
    <li><%= link_to "Bubble Cups", bubblecups_path %></li>
    <li><%= link_to "Teams", teams_path %></li>
    <li><%= link_to "Players", players_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Event Instances", event_instances_path %></li>
</ul>